body{
    height: 1600px;
    width: 100%;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;/*que no se repita el fondo*/
}

.left {
    position: fixed;
    float:left;
    height:100%;
    background: #111;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
    z-index: 1;
}

.left:hover {
    width: 250px;
}    

.icon:hover {
    background-color:#ccc;
}

.left .glyphicon{
    margin:15px;
    width:20px;
    color:#fff;
}

.icon {
    height:50px;
    overflow:hidden;
    color:#fff;
}

a.navOpcion:link {
    text-decoration:none; 
}
.right{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.col-sm-4, .col-md-4 ,.col-sm-12, .col-md-12{
    /*padding-right: 5px;
    padding-left: 5px;*/
}
.thumbnail {
    background-color: #ffffffb3;
    box-shadow: 2px 2px 5px #999;
    min-height: 366px;
}

.thumbnail:hover{
    transform: scale(1.01);
}

.glyphicon-heart,.glyphicon-retweet{
    font-size: 35px;
    -webkit-text-fill-color: #e3e3e300;
    -webkit-text-stroke: 2px #3c4444;
    margin-right: 5px;
}

.glyphicon-heart:hover, .glyphicon-retweet:hover{
    transform: scale(1.1);
    cursor: pointer
} 

.mult {
   text-align: right;
}
.btn-default {
    margin-top: -25px;
}


/*Distribucion pagina */
#Carousel{
    position: relative;
    top: 0;
    z-index: 0;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    padding-left: 45px;
}

.cFoto{
    height: 100%;
    width: 100%;
}

.publi{
    position: relative;
    float: right;
    width: 300px;
    height: 500px;
    right: 10px;
}
#ImgPubli{
    height: 100%;
    width: 100%;
}
#noticias{
    position: relative;
    float: left;
    width: calc(100% - 380px);
    left: 55px;
}
.videoNew{
    margin-left: 50px;
}

@media screen and (max-width: 950px) {
    .publi{
        display: none;
    }

    #noticias{
        width: 85%;
    }
}
