body{
    height: 1500px;
    width: 100%;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;/*que no se repita el fondo*/
}

.left {
    position: fixed;
    float:left;
    height:100%;
    background: #111;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
    z-index: 1;
}

.left:hover {
    width: 250px;
}    

.icon:hover {
    background-color:#ccc;
}

.left .glyphicon{
    margin:15px;
    width:20px;
    color:#fff;
}

.icon {
    height:50px;
    overflow:hidden;
    color:#fff;
}

a.navOpcion:link {
    text-decoration:none; 
}

.right{
    width: 100%;
    height: 100%;
    z-index: 0;
}


/*Distribucion pagina */

.publi{
    position: relative;
    float: right;
    width: 300px;
    height: 500px;
    right: 10px;
    top: 10px;
}
#ImgPubli{
    height: 100%;
    width: 100%;
}
#noticias{
    position: relative;
    float: left;
    width: calc(100% - 380px);
    left: 55px;
    top: 10px;
}
.article-quote{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 2.63rem 2.5rem 2.63rem 4.38rem;
    padding-left: 1.25rem;
    color: #333;
    border-left: 4px solid #111;
}

@media screen and (max-width: 450px) {
    .publi{
        display: none;
    }
}
